{% extends 'base.html.twig' %}
{% block title %} Ajouter Joueur{% endblock %}
{% block body %}
    <h2>ajouter Joueur</h2>
    {{ form_start(f) }}
        {{ form_widget(f) }}
    {{ form_end(f) }}
{% endblock %}