
<style>
    body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      color: #f5f6f7;
    }
    p {font-size: 16px;}
    .margin {margin-bottom: 45px;}
    .bg-1 { 
      background-color: #1abc9c; /* Green */
      color: #ffffff;
    }
    .bg-2 { 
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
    }
    .bg-3 { 
      background-color: #ffffff; /* White */
      color: #555555;
    }
    .bg-4 { 
      background-color: #2f2f2f; /* Black Gray */
      color: #fff;
    }
    .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
    }
    .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
    }
    .navbar-nav  li a:hover {
      color: #1abc9c !important;
    }
    ul.no-bullets {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
    </style>

<div class="container-fluid bg-1 text-center">
    <h3 class="margin">Qui suis-je?</h3>
    <img src="https://firebasestorage.googleapis.com/v0/b/symphonyexamentp.appspot.com/o/profile-pic%20(2).png?alt=media&token=6affe570-bbe5-4e13-b1b0-8f77ed4101ba" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="350" height="350">
    <h3>Je suis un etudiant en deuxieme année ingenieurie genie informatique a ESPRIMS</h3>
   
</div>

<div class="container-fluid bg-2 text-center">
    <div class="container ">
    <h3 class="margin">Ce que vous trouverez ici</h3>
    <p>Le projet "Examen TP Symphony - Jeu et Joueur" est une application web fascinante que j'ai développée dans le cadre de mon examen. Ce projet met en avant ma maîtrise de Symfony, un framework PHP puissant et flexible.

        L'application permet de gérer des jeux et des joueurs. Avec une interface conviviale, vous pouvez facilement ajouter, modifier et supprimer des jeux, ainsi que gérer les joueurs associés à chaque jeu. Vous pouvez également afficher des détails sur les jeux et les joueurs, tels que leur nom, leur e-mail, leur date de naissance et leur score.
        
        Ce projet démontre mon expertise dans la création de formulaires, la manipulation de données, l'utilisation de relations entre entités et la gestion des routes avec Symfony. J'ai également intégré Bootstrap pour améliorer l'apparence visuelle de l'application et offrir une expérience utilisateur agréable.
        
        N'hésitez pas à explorer l'application "Examen TP Symphony - Jeu et Joueur" et à découvrir comment j'ai utilisé Symfony pour créer une plateforme interactive et dynamique pour la gestion de jeux et de joueurs. </p>
  </div>
</div>


  <div class="container-fluid bg-3 text-center">    
    <h3 class="margin">Travail demandé !</h3><br>
    <div class="row">
   
      <div class="col-sm-6">
        <h4>Entity Game:</h4> 
        <p class="text-left">L'entité Game représente un jeu et possède les attributs suivants :</p> 
        <ul  class="no-bullets text-left">
            <li><p><strong>id :</strong> identifiant unique du jeu</p></li>
            <li><p><strong>titre :</strong> titre du jeu</p></li>
            <li><p><strong>type :</strong> type de jeu</p></li>
            <li><p><strong>nbrJoueur :</strong> nombre de joueurs (valeur entière)</p></li>
            <li><p><strong>Editeur :</strong> éditeur du jeu</p></li>
        </ul>
        
        <img src="https://firebasestorage.googleapis.com/v0/b/symphonyexamentp.appspot.com/o/games.jpg?alt=media&token=a0526b2f-d2ee-4068-9fc8-6f9ad6c60cc5" class="img-responsive margin" style="width:100%; height:400px" alt="Image">
      </div>
      <div class="col-sm-6"> 
        <h4>Entity Joueur:
        </h4> 
        <p class="text-left">L'entité Joueur représente un joueur et possède les attributs suivants :        </p> 
        <ul  class="no-bullets text-left">
            <li><p><strong>id :</strong> identifiant unique du joueur</p></li>
            <li><p><strong>nom :</strong> nom du joueur</p></li>
            <li><p><strong>email :</strong> adresse e-mail du joueur</p></li>
            <li><p><strong>born_At :</strong> date de naissance du joueur</p></li>
            <li><p><strong>score :</strong> score du joueur (valeur entière)</p></li>
        </ul>
        
        <img src="https://firebasestorage.googleapis.com/v0/b/symphonyexamentp.appspot.com/o/joueurs.jpg?alt=media&token=14717046-704c-44cc-9d15-c85d5cf3a65e" class="img-responsive margin" style="width:100%; height:400px" alt="Image">
      </div>
    </div>
  </div>
  
  <footer class="container-fluid bg-4 text-center">
    <p>Made with <span class="text-danger glyphicon glyphicon-heart logo-small"></span> Wael FRAJ</p> 
  </footer>
  
