<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Examen Symphony!{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/app.css') }}" />
    {% endblock %}

    {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    {% endblock %}
</head>

<style>
  body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
    background-color: #2649AB; /* Green */
    color: #ffffff;
  }
  .bg-2 { 
    background-color: #ffffff; /* Dark Blue */
    color: #ffffff;
  }
  .bg-3 { 
    background-color: #2649AB; /* White */
    color: #fff;
  }

  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
    color: #1abc9c !important;
  }
  ul.no-bullets {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    .container{
      color:black;
  }
  
  </style>

<body>
    

{% block navbar %}
    {% if app.request.attributes.get('_route') != 'login' and app.request.attributes.get('_route') !='user_registration' %}
    {% include 'navbar.html.twig' %}
    {% endif %}
{% endblock %}
{% block acceuil %}
    {% if app.request.attributes.get('_route') == 'app_admin' %}
        {% include 'accueil.html.twig' %}
    {% endif %}
{% endblock %}
{% block body %}{% endblock %}
</body>
</html>
